/* Global Styles */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 100%;
	/*
  font-family: "Droid Serif", serif;
	*/
	
	font-family: 'Merriweather', serif;
	color: #7f8c97;
	background-color: #e9f0f5;
}

a {
	color: #acb7c0;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}

img {
	max-width: 100%;
}

h1,
h2 {
	/*
  font-family: "Open Sans", sans-serif;
	*/
	
	font-family: 'Merriweather', serif;
	font-weight: bold;
}

.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0 11em;
}

.text-vertical-center h1 {
	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
}
/* Header */

.header {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url(../img/bg.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.header h1,
.header h3 {
	color: #000;
}
/* Custom Button Styles */

.btn-dark {
	border-radius: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

.btn-light {
	border-radius: 0;
	color: #333;
	background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
	color: #333;
	background-color: rgba(255, 255, 255, 0.8);
}
/* Custom Horizontal Rule */

hr.small {
	max-width: 100px;
}
/* Side Menu */

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 0;
	width: 250px;
	height: 100%;
	margin-right: -250px;
	overflow-y: auto;
	background: #222;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	height: 55px;
	font-size: 18px;
	line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
	color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#menu-toggle {
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
}

#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.toggle {
	margin: 5px 5px 0 0;
}
/* About */

.about {
	padding: 50px 0;
}
/* Services */

.services {
	padding: 50px 0;
}

.service-item {
	margin-bottom: 30px;
}
/* Callout */

.callout_korea {
	display: table;
	width: 100%;
	height: 400px;
	color: #fff;
	background: url(../img/events/koreacover.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.callout_vietnam {
	display: table;
	width: 100%;
	height: 400px;
	color: #fff;
	background: url(../img/events/vietnamcover.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.callout_cuba {
	display: table;
	width: 100%;
	height: 400px;
	color: #fff;
	background: url(../img/events/cubacover.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.callout_wall {
	display: table;
	width: 100%;
	height: 400px;
	color: #fff;
	background: url(../img/events/berlincover.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
/* Portfolio */

.portfolio {
	padding: 50px 0;
}

.portfolio-item {
	margin-bottom: 30px;
}

.img-portfolio {
	margin: 0 auto;
}

.img-portfolio:hover {
	opacity: 0.8;
}
/* Call to Action */

.call-to-action {
	padding: 50px 0;
}

.call-to-action .btn {
	margin: 10px;
}
/* Map */

.map {
	height: 500px;
}

@media(max-width:768px) {
	.map {
		height: 75%;
	}
}
/* Footer */

footer {
	padding: 100px 0;
}
/* D3 Specific Styling Goes here, sorted by charts */

.axis path,
.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

form {
	position: absolute;
	right: 10px;
	top: 10px;
}
/* D3JS and C3JS Styling */

#chart2 {
	color: #ffffff;
}
/* Counter specific styles here */

.counter-large {
	font-size: 40pt;
}

.counter-medium {
	font-size: 20pt;
}
/* Targetting Specific Infographic Elements with Shortcode heights */

.h220 {
	padding-top: 30px;
	height: 190px;
}

.h440 {
	height: 440px;
}

.cubadata {
	color: #FFFFFF;
	background-color: #6C7A89;
	padding: 0px 2em 2em;
}

.koreadata {
	color: #ffffff;
	background-color: #8a2222;
	padding: 0px 2em 2em;
}

.vietnamdata {
	color: #ffffff;
	background-color: #663399;
	padding: 0px 2em 2em;
}

.berlindata {
	color: #ffffff;
	background: #2ABB9B;
	padding: 0px 2em 2em;
}

.counttotalbg {
	background: #778899;
	color: #FFFFFF;
	padding: 0em 2em 2em 2em;
}

#containercuba,
#containercuba2,
#mapkorea,
#mapvietnam {
	color: #000000;
}
/* Hoofdrolspelers hovers */

.photo-grid {
	max-width: 1106px;
	text-align: center;
}

.photo-grid li {
	display: inline-block;
	margin: -3px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.photo-grid figure {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.photo-grid figcaption {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -30%;
	max-width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

.photo-grid figcaption {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	display: table;
	height: 350px;
	width: 100%;
	left: -5px;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
/*.active {
	border:1px solid white;
}
*/

#cuba1Show:hover,
#cuba2Show:hover {
	cursor: pointer;
}

#cuba2Show,
#cuba1Show {
	background: #434C56;
	border-radius: 4px;
	/*	border:1px solid #ccc;*/
}

#cuba1Show a.active {
	background: red;
}

#cuba2Show a,
#cuba1Show a {
	color: white;
}

#cuba1Show a:hover,
#cuba2Show a:hover {
	background: black;
}

.centercontent {
	padding: 2em;
	margin: 0px auto;
}

.cubabuttons {
	width: 245px;
	margin-top: -2em;
}

.cubadata .infoteller {
	padding: 2em;
	margin: 0px auto;
}

.infoteller h1 {
	font-size: 1.5em;
}

.infoteller .counter-medium {
	border-radius: 4px;
	padding: .2em;
}

.infoteller .grey {
	background: #434C56;
	margin-bottom: .3em;
}

.infoteller .red {
	background: #630B0B;
	margin-bottom: .3em;
}

.infoteller .purple {
	background: #471975;
	margin-bottom: .3em;
}

.infoteller .green {
	background: #0B8267;
	margin-bottom: .3em;
}

.infoteller .dgrey {
	background: #456280;
	margin-bottom: .3em;
}

.teller {
	background: #337ab7;
	color: white;
	border-radius: 4px;
	padding: 1em;
	cursor: pointer;
	width: 200px;
	margin: 0 auto;
	border: 1px solid white;
}

#totalstats {
	margin-bottom: 3em;
}

.teller:hover {
	background: black;
	;
}

.infoteller .icon {
	height: 35px;
	margin-bottom: -1em;
}

.fix-overlap {
	margin-top: -8em;
}

#totaldata1sum,
.bred {
	color: #1A3450;
	font-weight: bold;
}

.white-text h1,
.white-text h3 {
	color: #FFFFFF;
}

.text-vertical-center h1,
.text-vertical-center h3,
.text-vertical-center h4 {
	text-shadow: 0px 0px 30px rgba(150, 150, 150, 1);
}

.text-vertical-center h3,
.text-vertical-center h4 {
	font-weight: bold;
}

.c3-chart-texts {
	color: #FFFFFF;
}